Repository ecmwf/anemoi-registry, pull requests merged in 2025-02, with the labels that each got.

#40 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/changelog-pr-update.yml
  .github/workflows/changelog-release-update.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .github/workflows/release-please.yml
  .gitignore
  .pre-commit-config.yaml
  .release-please-config.json
  .release-please-manifest.json
  CONTRIBUTORS.md
  LICENSE
  README.md
Labels: sync

#44 chore(main): Preparing Next Release for 0.1.7
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#46 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
Labels: sync, CI/CD

#48 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/pull_request_template.md
Labels: sync, CI/CD

#50 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/labeler.yml
  .github/workflows/pr-label-conventional-commits.yml
  .release-please-config.json
Labels: sync, CI/CD

#52 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
Labels: sync, CI/CD

#51 docs: use new logo
  docs/_static/logo.png
Labels: documentation

#53 feat: self timeout for workers
  src/anemoi/registry/commands/worker.py
  src/anemoi/registry/workers/__init__.py
Labels: enhancement

#55 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .release-please-config.json
Labels: sync

#56 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
Labels: sync

#59 feat: fix readthedoc
  .readthedocs.yaml
Labels: documentation, enhancement, dependencies

#61 feat: pin boto3 before 1.36
  pyproject.toml
Labels: enhancement, dependencies
