Repository ecmwf/anemoi-registry, pull requests merged in 2025-03, with the labels that each got.

#47 chore(main): Release 0.1.8
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#60 chore: synced file(s) with ecmwf/reusable-workflows
  .gitignore
  .pre-commit-config.yaml
Labels: sync, CI/CD

#63 feat: adding set-get-remove metadata
  src/anemoi/registry/commands/base.py
  src/anemoi/registry/commands/datasets.py
  src/anemoi/registry/commands/download.py
  src/anemoi/registry/commands/entry.py
  src/anemoi/registry/commands/experiments.py
  src/anemoi/registry/commands/list.py
  src/anemoi/registry/commands/tasks.py
  src/anemoi/registry/commands/update.py
  src/anemoi/registry/commands/weights.py
  src/anemoi/registry/commands/worker.py
  src/anemoi/registry/entry/__init__.py
  tests/test.json
  tests/test_all.py
Labels: enhancement, tests

#66 feat: add robust connection to server
  pyproject.toml
  src/anemoi/registry/commands/datasets.py
  src/anemoi/registry/commands/experiments.py
  src/anemoi/registry/commands/weights.py
  src/anemoi/registry/entry/__init__.py
  src/anemoi/registry/entry/dataset.py
  src/anemoi/registry/entry/experiment.py
  src/anemoi/registry/entry/weights.py
  src/anemoi/registry/rest.py
  src/anemoi/registry/tasks.py
  tests/test_entry.py
Labels: enhancement, dependencies, tests

#69 docs: new logo
  docs/_static/logo.png
Labels: documentation

#68 chore: synced file(s) with ecmwf/reusable-workflows
  .gitignore
Labels: sync, CI/CD
