Repository ecmwf/anemoi-registry, pull requests merged in 2025-05, with the labels that each got.

#74 chore: remove pinning on botocore and update anemoi-utils
  pyproject.toml
Labels: dependencies

#75 chore(main): Release 0.2.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#77 feat: use settings from server
  src/anemoi/registry/__init__.py
  src/anemoi/registry/commands/settings.py
  src/anemoi/registry/config.yaml
  src/anemoi/registry/configuration.py
  src/anemoi/registry/rest.py
Labels: enhancement

#81 feat: simplify getting settings from catalogue
  .github/workflows/python-pull-request.yml
  src/anemoi/registry/config.yaml
  src/anemoi/registry/configuration.py
  tests/test_all.py
Labels: enhancement, CI/CD, tests

#83 docs: minor updates
  docs/cli/datasets.rst
  docs/installing.rst
Labels: documentation

#82 chore: synced file(s) with ecmwf/reusable-workflows
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/release.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .gitignore
  .pre-commit-config.yaml
Labels: sync, CI/CD

#85 feat: implement worker to delete datasets on s3
  src/anemoi/registry/commands/worker.py
  src/anemoi/registry/entry/dataset.py
  src/anemoi/registry/workers/delete_dataset.py
Labels: enhancement

#87 chore: synced file(s) with ecmwf/reusable-workflows
  .release-please-config.json
Labels: sync
